*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #fefefe;
  background-color: #181818;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #000000;
  padding: 0 20px;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 70px;
  width: 100%;
  justify-content: flex-start;
  padding-bottom: 70px;
}

.main-content.main-content-recipe-detail {
  gap: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.navbar__logo {
  width: 120px;
  height: auto;
}

.navbar__menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar__menu-icon {
  width: 30px;
  height: auto;
}

.welcome {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
  color: #fefefe;
}

.home-category-title {
  margin-bottom: 40px;
}

.login-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #222222;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form__title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.login-form__field {
  display: flex;
  gap: 10px;
  align-items: center;
}

.login-form__field input {
  height: 30px;
  background-color: #eee;
  border: 1px solid #444444;
  border-radius: 4px;
  padding: 5px;
}

.login-form__footer {
  display: flex;
}

.login-form__submit-button {
  border-radius: 8px;
  height: 30px;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
}

.gallery {
  display: flex;
  gap: 20px;
  width: 100%;
}

.gallery__meal {
  flex: calc(20% - 15px);
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}

.gallery__meal h4 {
  line-height: 1.35;
}

.gallery__meal img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.gallery__meal-link {
  background-color: rgba(255, 255, 255, 0.75);
  color: #000;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 8px;
  text-align: center;
  display: inline-flex;
  align-self: flex-start;
}

.gallery__meal-link:hover {
  background-color: rgba(255, 255, 255, 1);
}

.recipe-detail__image-container {
  width: 550px;
  height: 550px;
}

.recipe-detail__image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.recipe-detail__instructions {
  line-height: 1.35;
  width: 900px;
}